@model IEnumerable<SpaceYYZ.Models.AdministrationViewModels.UserViewModel>

<h1>Users</h1>

<article>
	<form asp-action="Index" method="get">
		<input type="search" placeholder="name" value="@ViewData["PrevSearch"]" name="search"/>
		<input type="hidden" name="sort" value="@ViewData["Sort"]"/>
		<button type="submit">Search</button>
	</form>
	<table>
		@{


		var GetSortGlyph = new Func<string, string>(sort =>
			{
				var currentSort = ViewData["Sort"] as string;

				if (currentSort?.StartsWith(sort) == true)
				{
					if (currentSort.Length == sort.Length)
					{
						return "^";
					}
					else
					{
						return "v";
					}
				}
				else
				{
					return "";
				}
			});
		}
		<tr>
			<th>
				<a asp-action="Index" asp-route-sort="@ViewData["UsernameSort"]" asp-route-search="@ViewData["PrevSearch"]">Username @GetSortGlyph("username")</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sort="@ViewData["FirstnameSort"]" asp-route-search="@ViewData["PrevSearch"]">First name @GetSortGlyph("firstname")</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sort="@ViewData["LastnameSort"]" asp-route-search="@ViewData["PrevSearch"]">Last name @GetSortGlyph("lastname")</a>
			</th>
			<th></th>
		</tr>

		@foreach(var user in Model)
		{
			<tr>
				<td>@user.Username</td>
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>
					<a asp-action="Details" asp-route-id="@user.Id">View</a> | 
					<a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
				</td>
			</tr>
		}
	</table>
</article>
